<!--用户模块-->
<template id="v-user-menu">
    <div>
        <el-dropdown v-on:command="menuClick">
            <span class="el-dropdown-link">
                欢迎您,{{loginUser.name}}<i class="el-icon-arrow-down el-icon--right"></i>
            </span>
            <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="logout">注销</el-dropdown-item>
            </el-dropdown-menu>
        </el-dropdown>
    </div>
</template>

<!--罕见病搜索模块-->
<template id="v-disease-search">
    <el-col :span="8" class="paddinglr5px">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">查询罕见病</div>
            <div class="panel-body">
                <div class="breadcrumbs">
                    <el-input style="width:80%;"
                              v-model="search"
                              placeholder="事件"
                              v-on:keyup.enter.native="onSearch">
                    </el-input>
                    <span style="float: right;">
                        <el-button v-on:click="onSearch" type="primary">搜索</el-button>
                    </span>
                </div>
                <div style="background-color:white">
                    <el-table v-bind:data="deseaseSearchedList"
                              v-loading="loading"
                              :show-header="false"
                              style="width: 100%">
                        <el-table-column prop="name"
                                         label="名称" min-width="7">
                        </el-table-column>
                        <el-table-column min-width="3">
                            <template slot-scope="scope">
                                <a :href="'../121diseases.html'+scope.row.anchor"
                                   target="_blank">详情</a>

                            </template>
                        </el-table-column>
                    </el-table>
                    <el-pagination background style="float:right;"
                                   layout="total, prev, pager, next"
                                   v-on:current-change="searchDiseaseList"
                                   v-bind:total="total"
                                   v-bind:current-page.sync="pageIndex">
                    </el-pagination>

                </div>
            </div>


        </div>
    </el-col>
</template>

<template id="v-disease-cdss">
    <div>
        <el-col :span="8" class="paddinglr5px">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">文本识别</div>
                <div class="panel-body">
                    <div class="breadcrumbs">
                        <el-button type="primary" v-on:click.stop
                                   v-on:click="onPopImportEMRDlg()">
                            患者病例
                        </el-button>
                        <span style="float: right;">
                            <el-button type="info">导入</el-button>
                            <el-button type="info" v-on:click="onClearPatientEMR">清空</el-button>
                        </span>
                    </div>
                    <div>
                        <el-input id="txt_patientEMR" type="textarea"
                                  :rows="5"
                                  placeholder="患者病历"
                                  v-model="patientEMRDetail">
                        </el-input>
                    </div>
                    <div class="breadcrumbs" style="margin:5px 0">
                  
                        <span style="float: right;">
                            <template>
                                <el-select v-model="nlpEngine" placeholder="请选择NLP分析引擎" style="width:300px">
                                    <el-option v-for="item in nlpEngineOptions"
                                               :key="item.value"
                                               :label="item.label"
                                               :value="item.value">
                                    </el-option>
                                </el-select>
                            </template>
                            <el-button type="primary" v-on:click="onAnalyzePatientEMR">解析</el-button>
                        </span>
                    </div>
                </div>


            </div>
        </el-col>
        <el-col :span="10" class="paddinglr5px">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">病例所见</div>
                <div class="panel-body padding0px">
                    <div>
                        <template>
                            <el-table :data="patientHPOList"
                                      class="showIndicator">
                                <el-table-column label="表征术语"
                                                 min-width="29%">
                                    <template slot-scope="scope">
                                        <el-popover placement="top-start"
                                                    width="300"
                                                    trigger="click"
                                                    :content="scope.row.nameEnglish">
                                            <el-link slot="reference" type="primary">
                                                {{scope.row.name}}
                                            </el-link>
                                        </el-popover>
                                    </template>
                                </el-table-column>
                                <el-table-column prop="hpoId"
                                                 label="Id"
                                                 min-width="18%">
                                </el-table-column>
                                <el-table-column 
                                                 label="Negative"
                                                 min-width="18%">
                                    <template slot-scope="scope">
                                        <el-select v-model="scope.row.isNegative" placeholder="请选择">
                                            <el-option v-for="item in isNegativeOptions"
                                                       :key="item.value"
                                                       :label="item.label"
                                                       :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </template>
                                </el-table-column>
                                <el-table-column prop="isFamily"
                                                 label="遗传"
                                                 min-width="10%">
                                </el-table-column>
                                <el-table-column prop="count"
                                                 label="数量"
                                                 min-width="10%">
                                </el-table-column>
                                <el-table-column min-width="15%">
                                    <template slot-scope="scope">
                                        <el-link type="primary" v-on:click.stop
                                                 v-if="scope.row.editable"
                                                 v-on:click="onShowHpoMatchedText(scope.row)">原文</el-link>
                                        <el-link type="warning" v-on:click.stop
                                                 v-on:click="onDeletePatientHPOList(scope.row)">删除</el-link>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </template>
                    </div>
                    <div class="breadcrumbs" style="margin:5px">
                        <el-button type="primary" v-on:click="onSearchHPODlg()">添加体征</el-button>
                        <span style="float: right;">
                            <template>
                                <el-select v-model="rareAnalyzeEngine" placeholder="请选择罕见病分析引擎" style="width:200px">
                                    <el-option v-for="item in rareAnalyzeEngineOptions"
                                               :key="item.value"
                                               :label="item.label"
                                               :value="item.value">
                                    </el-option>
                                </el-select>
                            </template>
                            <el-button type="primary" v-on:click="onSubmitHPODataForAnalyze">提交所见</el-button>
                            <el-button type="info" >基因分析</el-button>
                        </span>
                    </div>
                </div>
            </div>
        </el-col>
        <el-col :span="6" class="paddinglr5px">

            <div class="panel panel-default" style="margin-bottom:10px">

                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">罕见疾病</div>
                    <div class="panel-body padding0px">
                        <div>
                            <template>
                                <el-table :data="rareDiseaseList">
                                    <el-table-column prop="name"
                                                     label="罕见疾病名称">
                                        <template slot-scope="scope">
                                            <el-popover  placement="right"
                                                        width="400"
                                                        trigger="click">
                                                <el-table :data="scope.row.hpoMatchedList">
                                                    <el-table-column  prop="name" label="所有表型"></el-table-column>
                                                    <el-table-column  prop="hpoId" label="id"></el-table-column>
                                                    <el-table-column  prop="matched" label="是否匹配"></el-table-column>
                                                </el-table>
                                                <el-link slot="reference" type="primary">
                                                    {{scope.row.name}}
                                                </el-link>
                                            </el-popover>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="likeness"
                                                     label="相似度">
                                    </el-table-column>
                                </el-table>
                            </template>
                        </div>
                    </div>
                </div>

                <!-- Default panel contents -->
                <div class="panel-heading">普通疾病</div>
                <div class="panel-body padding0px">
                    <div>
                        <template>
                            <el-table :data="normalDiseaseList">
                                <el-table-column prop="name"
                                                 label="普通疾病名称">
                                </el-table-column>
                                <el-table-column prop="likeness"
                                                 label="相似度">
                                </el-table-column>
                            </el-table>
                        </template>
                    </div>
                </div>
            </div>
            
        </el-col>
        <el-dialog title="患者病例" v-bind:visible.sync="importEMRDlg" top="5vh" class="patientEMR">
            <div style="min-height:480px;overflow-x:hidden;">
                <el-row :gutter="10">
                    <el-col :span="6">
                        <div>
                            <el-input style="width:200px" v-model="patientCardNo"
                                      placeholder="身份证号码/或者EMPI主索引"
                                      v-on:keyup.enter.native="onSearchPatient" ></el-input>
                        </div>
                    </el-col>
                    <el-col :span="6">
                        <el-button v-on:click="onSearchPatient" type="primary">搜索</el-button>
                    </el-col>
                    <el-col :span="12" class="text-right">
                        <el-button class="group-in" v-on:click="onImportPatientEMRText">导入患者病例</el-button>
                    </el-col>
                </el-row>
                <el-table v-bind:data="patientOverview"
                          style="width: 100%; margin-top:10px;">
                    <el-table-column prop="iEMPINumber"
                                     label="主索引" min-width="15%">
                    </el-table-column>
                    <el-table-column prop="name"
                                     label="姓名" min-width="10%">
                    </el-table-column>
                    <el-table-column prop="gender"
                                     label="性别" min-width="5%">
                    </el-table-column>
                    <el-table-column prop="cardNo"
                                     label="身份证号" min-width="20%">
                    </el-table-column>
                    <el-table-column prop="tel"
                                     label="联系方式" min-width="15%">
                    </el-table-column>
                    <el-table-column prop="address"
                                     label="地址" min-width="35%">
                    </el-table-column>
                </el-table>
                <div></div>
                <el-table v-bind:data="patientVisitList"
                          style="width: 100%; margin-top:10px;">
                    <el-table-column prop="visitTime"
                                     label="就诊时间">
                    </el-table-column>
                    <el-table-column prop="visitType"
                                     label="就诊类别">
                    </el-table-column>
                    <el-table-column prop="diagDesc"
                                     label="诊断">
                    </el-table-column>
                    <el-table-column prop="center"
                                     label="机构">
                    </el-table-column>
                </el-table>
                <el-pagination background style="float:right;"
                               layout="total, prev, pager, next" v-on:current-change="patientLocalPaging"
                               v-bind:total="patientVisitListTotal"
                               v-bind:current-page.sync="patientVisitListIndex">
                </el-pagination>
            </div>
        </el-dialog>
        <el-dialog title="查询HPO" v-bind:visible.sync="searchHPODlg" top="5vh">
            <div style="min-height:480px;overflow-x:hidden;">
                <el-row :gutter="10">
                    <el-col :span="8">
                        <div>
                            <el-input style="width:100%;" v-model="searchHPOText"
                                      placeholder="输入表征术语"
                                      v-on:keyup.enter.native="onSearchHPOList"></el-input>
                        </div>
                    </el-col>
                    <el-col :span="6">
                        <el-button v-on:click="onSearchHPOList" type="primary">搜索</el-button>
                    </el-col>
                    <el-col :span="10" class="text-right">
                        <el-button class="group-in" v-on:click="onSearchedHPOSelectionIn">添加</el-button>
                    </el-col>
                </el-row>
                    <el-table v-bind:data="searchedHPOList"
                              v-on:selection-change="onSearchedHPOSelectionChange"
                              style="width: 100%; margin-top:10px;">
                        <el-table-column type="selection"
                                         width="50">
                        </el-table-column>
                        <el-table-column prop="name"
                                         label="表征术语">
                        </el-table-column>

                        <el-table-column prop="nameEnglish"
                                         label="英文名">
                        </el-table-column>
                        <el-table-column prop="hpoId"
                                         label="Id">
                        </el-table-column>

                    </el-table>
                <el-pagination background style="float:right;"
                               layout="total, prev, pager, next" v-on:current-change="hpoLocalPaging"
                               v-bind:total="searchedHPOListTotal"
                               v-bind:current-page.sync="searchedHPOListIndex">
                </el-pagination>
            </div>
        </el-dialog>
    </div>
</template>
<!--操作日志-->
<template id="v-operation-log">
    <el-col :span="24" class="paddinglr5px">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">操作日志</div>
            <div class="panel-body">
                <div style="background-color:white">
                    <el-table v-bind:data="logList"
                              v-loading="loading"
                              style="width: 100%">
                        <el-table-column prop="action"
                                         label="操作记录" min-width="7">
                        </el-table-column>
                        <el-table-column prop="createdBy"
                                         label="操作人" min-width="7">
                        </el-table-column>
                        <el-table-column prop="createdOn"
                                         label="操作时间" min-width="7">
                        </el-table-column>
                    </el-table>
                    <el-pagination background style="float:right;"
                                   layout="total, prev, pager, next"
                                   v-on:current-change="searchOperationLogList"
                                   v-bind:total="total"
                                   v-bind:current-page.sync="pageIndex">
                    </el-pagination>
                </div>
            </div>
        </div>
    </el-col>
</template>

