<!--用户模块-->
<template id="v-user-menu">
    <div>
        <el-dropdown v-on:command="menuClick">
            <span class="el-dropdown-link">
                欢迎您,{{loginUser.name}}<i class="el-icon-arrow-down el-icon--right"></i>
            </span>
            <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="logout">注销</el-dropdown-item>
            </el-dropdown-menu>
        </el-dropdown>
    </div>
</template>

<!--罕见病搜索模块-->
<template id="v-disease-search">
    <div>
        <el-col :span="12" class="paddinglr5px">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">罕见病查询</div>
                <div class="panel-body">
                    <div class="breadcrumbs">
                        <el-input style="width:80%;"
                                  v-model="search"
                                  placeholder="帕金森"
                                  v-on:keyup.enter.native="onSearch">
                        </el-input>
                        <span style="float: right;">
                            <el-button v-on:click="onSearch" type="primary">搜索</el-button>
                        </span>
                    </div>
                    <div style="background-color:white">
                        <el-table v-bind:data="deseaseSearchedList"
                                  v-loading="loading"
                                  style="width: 100%;overflow:auto" class="rare-desease-detail">
                            <el-table-column prop="source"
                                             label="知识库" min-width="10%">
                            </el-table-column>
                            <el-table-column prop="name"
                                             label="疾病中文" min-width="18%">
                            </el-table-column>
                            <el-table-column prop="name_en"
                                             label="疾病英文" min-width="18%">
                            </el-table-column>

                            <el-table-column prop="HPOId"
                                             label="HPO" min-width="10%">
                            </el-table-column>
                            <el-table-column prop="HPO_name"
                                             label="HPO中文" min-width="18%">
                            </el-table-column>
                            <el-table-column prop="HPO_name_en"
                                             label="HPO英文" min-width="18%">
                            </el-table-column>
                            <el-table-column min-width="8%">
                                <template v-if="scope.row.editable" slot-scope="scope">
                                    <el-link type="primary"
                                             v-on:click="open121HpoDetail(scope.row)">详情</el-link>
                                </template>
                            </el-table-column>
                        </el-table>
                        <el-pagination background style="float:right;"
                                       layout="total, prev, pager, next"
                                       v-on:current-change="searchDiseaseList"
                                       v-bind:total="total"
                                       :page-size="pageSize"
                                       v-bind:current-page.sync="pageIndex">
                        </el-pagination>

                    </div>
                </div>


            </div>
        </el-col>
        <el-col :span="12" class="paddinglr5px">
            <div id="iframeDiv"></div>
            <!--<iframe style="width:100%;height: calc(100vh - 1000px)" :src="iframeSrc"></iframe>-->
        </el-col>
    </div>
</template>


<!--罕见病决策模块-->
<template id="v-disease-cdss">
    <div>
        <el-col :span="8" class="paddinglr5px">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">表型术语识别</div>
                <div class="panel-body">
                    <div class="breadcrumbs">
                        <el-button type="primary" v-on:click.stop
                                   v-on:click="onPopImportEMRDlg()">
                            患者病历
                        </el-button>
                        <span style="float: right;">
                            <el-button type="info" v-on:click="onClearPatientEMR">清空</el-button>
                        </span>
                    </div>
                    <div>
                        <el-input id="txt_patientEMR" type="textarea"
                                  :rows="5"
                                  placeholder="患者病历"
                                  v-model="patientEMRDetail">
                        </el-input>
                    </div>
                    <div class="breadcrumbs" style="margin:5px">

                        <span style="float: right;">
                            <template>
                                <el-select v-model="nlpEngine" placeholder="请选择NLP分析引擎" style="width:300px">
                                    <el-option v-for="item in nlpEngineOptions"
                                               :key="item.value"
                                               :label="item.label"
                                               :value="item.value">
                                    </el-option>
                                </el-select>
                            </template>
                            <el-button type="primary" v-on:click="onGetPatientHPOResult">解析</el-button>
                        </span>
                    </div>
                </div>


            </div>
        </el-col>
        <el-col :span="10" class="paddinglr5px">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">病例所见</div>
                <div class="panel-body padding0px">
                    <div>
                        <template>
                            <el-table :data="patientHPOList"
                                      class="showIndicator" style="overflow:auto">
                                <el-table-column label="表型术语"
                                                 min-width="34%" prop="name">
                                </el-table-column>
                                <el-table-column prop="hpoId"
                                                 label="术语Id"
                                                 min-width="17%">

                                    <template slot-scope="scope">
                                        <el-popover placement="top-start"
                                                    width="300"
                                                    title="HPO term"
                                                    trigger="hover">
                                            <p>中文: {{scope.row.chpoName}}</p>
                                            <p>英文: {{scope.row.nameEnglish}}</p>
                                            <p>来源：{{scope.row.termSource}}</p>
                                            <div style="text-align: right; margin: 0">
                                                <el-button type="primary" size="mini" v-if="scope.row.editable"
                                                           v-on:click="onDeleteHPOTerm(scope.row)">删除</el-button>
                                            </div>
                                            <el-link slot="reference" type="primary">
                                                {{scope.row.hpoId}}
                                            </el-link>
                                        </el-popover>
                                    </template>
                                </el-table-column>
                                <el-table-column label="确定程度"
                                                 min-width="18%"
                                                 :filters="[{ text: '阳性', value: '阳性' }, { text: '阴性', value: '阴性' }]"
                                                 :filter-method="filterTag"
                                                 filter-placement="bottom-end">
                                    <template slot-scope="scope">
                                        <el-select v-model="scope.row.certain" placeholder="请选择">
                                            <el-option v-for="item in certainOptions"
                                                       :key="item.value"
                                                       :label="item.label"
                                                       :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </template>
                                </el-table-column>
                                <!-- 暂时不支持本人 <el-table-column prop="isSelf"
                                                 label="是否本人"
                                                 min-width="8%">
                                </el-table-column>-->
                                <el-table-column prop="count"
                                                 label="命中次数"
                                                 min-width="8%">
                                </el-table-column>
                                <el-table-column min-width="15%">
                                    <template slot-scope="scope">
                                        <el-link v-on:click.stop type="primary"
                                                 v-if="scope.row.editable"
                                                 v-on:click="onShowHpoMatchedText(scope.row)">原文</el-link>

                                        <el-popover v-if="scope.row.hasExam"
                                                    placement="right"
                                                    width="800"
                                                    trigger="click">
                                            <el-table :data="scope.row.examData">
                                                <el-table-column prop="exam_code" label="检验指标代码"></el-table-column>
                                                <el-table-column prop="exam_name" label="检验指标"></el-table-column>
                                                <el-table-column prop="sample_code" label="样本代码"></el-table-column>
                                                <el-table-column prop="sample_name" label="样本名称"></el-table-column>
                                                <el-table-column prop="range" label="参考范围"></el-table-column>
                                                <el-table-column prop="value" label="检验值"></el-table-column>
                                                <el-table-column prop="examTimeStr" label="检验时间"></el-table-column>
                                            </el-table>
                                            <el-link slot="reference" class="el-link-blue">
                                                检验
                                            </el-link>
                                        </el-popover>


                                        <el-link type="warning" v-on:click.stop
                                                 v-on:click="onDeletePatientHPOList(scope.row)">删除</el-link>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </template>
                    </div>
                    <div class="breadcrumbs" style="margin:5px">
                        <el-button type="primary" v-on:click="onSearchHPODlg()">添加HPO</el-button>
                        <span style="float: right;">
                            <template>
                                <el-select v-model="rareAnalyzeEngine" placeholder="相似度算法选择" style="width:180px">
                                    <el-option v-for="item in rareAnalyzeEngineOptions"
                                               :key="item.value"
                                               :label="item.label"
                                               :value="item.value">
                                    </el-option>
                                </el-select>
                            </template>
                            <template>
                                <el-select v-model="rareDataBaseEngine" placeholder="匹配知识库选择" style="width:100px">
                                    <el-option v-for="item in rareDataBaseEngineOptions"
                                               :key="item.value"
                                               :label="item.label"
                                               :value="item.value">
                                    </el-option>
                                </el-select>
                            </template>
                            <el-button type="primary" v-on:click="onGetPatientRareDiseaseResult">提交所见</el-button>
                            <el-button type="info" disabled>基因分析</el-button>
                        </span>
                    </div>
                </div>
            </div>
        </el-col>
        <el-col :span="6" class="paddinglr5px">

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">罕见病相似性列表</div>
                <div class="panel-body padding0px">
                    <div>
                        <template>
                            <el-table :data="rareDiseaseList" style="overflow:auto" class="showIndicator">
                                <el-table-column prop="name"
                                                 label="罕见疾病名称">
                                    <template slot-scope="scope">
                                        <el-popover placement="left"
                                                    width="400"
                                                    trigger="click">
                                            <el-table :data="scope.row.Hpolist" style="overflow:auto" height="400" :row-style="rowClass">
                                                <el-table-column prop="hpoName" label="所有表型"></el-table-column>
                                                <el-table-column prop="hpoId" label="id"></el-table-column>
                                                <el-table-column prop="match" :formatter="statusFormatter" label="是否匹配"></el-table-column>
                                                <el-table-column prop="source" label="来源"></el-table-column>
                                            </el-table>
                                            <el-link slot="reference" type="primary">
                                                {{scope.row.name}}
                                            </el-link>
                                        </el-popover>
                                    </template>
                                </el-table-column>
                                <el-table-column prop="ratio"
                                                 label="相似度" width="120">
                                </el-table-column>
                            </el-table>
                        </template>
                    </div>
                    <div class="breadcrumbs" style="margin:5px">
                        <span style="float: right;">
                            <el-button type="primary" v-if="rareDiseaseList.length>1" v-on:click="onRedirectToDiseaseCaculate">更多详情</el-button>
                        </span>
                    </div>
                </div>
            </div>

        </el-col>
        <el-dialog title="患者就诊" v-bind:visible.sync="importEMRDlg" top="5vh" class="patientEMR">
            <div style="min-height:480px;overflow-x:hidden;">
                <el-row :gutter="10">
                    <el-col :span="10">
                        <div>
                            <el-input style="width:200px" v-model="number"
                                      placeholder="EMPI主索引/身份证号码"
                                      v-on:keyup.enter.native="onSearchPatient"></el-input>
                            <template>
                                <el-select v-model="numberType">
                                    <el-option v-for="item in numberTypeOptions"
                                               :key="item.value"
                                               :label="item.label"
                                               :value="item.value">
                                    </el-option>
                                </el-select>
                            </template>
                        </div>
                    </el-col>
                    <el-col :span="6">
                        <el-button v-on:click="onSearchPatient" type="primary">搜索</el-button>
                    </el-col>
                    <el-col :span="8" class="text-right">
                        <el-button class="group-in" v-on:click="onImportPatientEMRText">导入患者病历</el-button>
                    </el-col>
                </el-row>
                <el-table v-bind:data="patientOverview"
                          style="width: 100%; margin-top:10px;">
                    <el-table-column prop="iEMPINumber"
                                     label="主索引" min-width="15%">
                    </el-table-column>
                    <el-table-column prop="name"
                                     label="姓名" min-width="10%">
                    </el-table-column>
                    <el-table-column prop="gender"
                                     label="性别" min-width="5%">
                    </el-table-column>
                    <el-table-column prop="cardNo"
                                     label="身份证号" min-width="20%">
                    </el-table-column>
                    <el-table-column prop="tel"
                                     label="联系方式" min-width="15%">
                    </el-table-column>
                    <el-table-column prop="address"
                                     label="地址" min-width="35%">
                    </el-table-column>
                </el-table>
                <div></div>
                <el-table v-bind:data="patientVisitList"
                          ref="multipleTable"
                          v-on:selection-change="onPatientVisitSelectionChange"
                          style="width: 100%; margin-top:10px;">
                    <el-table-column type="selection"
                                     width="50">
                    </el-table-column>
                    <el-table-column prop="visitTime"
                                     label="诊断时间" width="150">
                    </el-table-column>
                    <el-table-column prop="visitType"
                                     label="登记号" width="100">
                    </el-table-column>
                    <el-table-column prop="diagDesc"
                                     label="病历">
                    </el-table-column>
                    <el-table-column prop="center"
                                     label="机构" width="150">
                    </el-table-column>
                </el-table>
                <el-pagination background style="float:right;"
                               layout="total, prev, pager, next" v-on:current-change="patientVisitPaging"
                               v-bind:total="patientVisitListTotal"
                               v-bind:current-page.sync="patientVisitListIndex">
                </el-pagination>
            </div>
        </el-dialog>
        <el-dialog title="查询HPO" v-bind:visible.sync="searchHPODlg" top="5vh">
            <div style="min-height:480px;overflow-x:hidden;">
                <el-row :gutter="10">
                    <el-col :span="8">
                        <div>
                            <el-input style="width:100%;" v-model="searchHPOText"
                                      placeholder="输入表征术语"
                                      v-on:keyup.enter.native="onSearchHPOList"></el-input>
                        </div>
                    </el-col>
                    <el-col :span="6">
                        <el-button v-on:click="onSearchHPOList" type="primary">搜索</el-button>
                    </el-col>
                    <el-col :span="10" class="text-right">
                        <el-button class="group-in" v-on:click="onSearchedHPOSelectionIn">添加</el-button>
                    </el-col>
                </el-row>
                <el-table v-bind:data="searchedHPOList"
                          v-on:selection-change="onSearchedHPOSelectionChange"
                          style="width: 100%; margin-top:10px;">
                    <el-table-column type="selection"
                                     width="50">
                    </el-table-column>
                    <el-table-column prop="name"
                                     label="表征术语">
                    </el-table-column>

                    <el-table-column prop="nameEnglish"
                                     label="英文名">
                    </el-table-column>
                    <el-table-column prop="hpoId"
                                     label="Id">
                    </el-table-column>

                </el-table>
                <el-pagination background style="float:right;"
                               layout="total, prev, pager, next" v-on:current-change="HPOLocalPaging"
                               v-bind:total="searchedHPOListTotal"
                               v-bind:current-page.sync="searchedHPOListIndex">
                </el-pagination>
            </div>
        </el-dialog>
    </div>
</template>
<!--操作日志-->
<template id="v-operation-log">
    <el-col :span="24" class="paddinglr5px">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">操作日志</div>
            <div class="panel-body">

                <el-row :gutter="10">
                    <el-col :span="8">
                        <div>
                            <template>
                                <el-date-picker v-model="logDateRange"
                                                type="daterange"
                                                range-separator="至"
                                                start-placeholder="开始日期"
                                                end-placeholder="结束日期">
                                </el-date-picker>
                            </template>
                        </div>
                    </el-col>
                    <el-col :span="4">
                        <el-button v-on:click="onSearch" type="primary">搜索</el-button>
                    </el-col>
                    <el-col :span="12" class="text-right">

                    </el-col>
                </el-row>


                <div style="margin-top:10px">
                    <el-table v-bind:data="logList"
                              v-loading="loading"
                              style="width: 100%">
                        <el-table-column prop="action"
                                         label="操作记录" min-width="7">
                        </el-table-column>
                        <el-table-column prop="createdBy"
                                         label="操作人" min-width="7">
                        </el-table-column>
                        <el-table-column prop="createdOn"
                                         label="操作时间" min-width="7">
                        </el-table-column>
                    </el-table>
                    <el-pagination background style="float:right;"
                                   layout="total, prev, pager, next"
                                   v-on:current-change="searchOperationLogList"
                                   v-bind:total="total"
                                   v-bind:current-page.sync="pageIndex">
                    </el-pagination>
                </div>
            </div>
        </div>
    </el-col>
</template>


<!--罕见病计算模块-->
<template id="v-disease-caculate">
    <div class="paddinglr5px">

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">输入数据</div>
            <div class="panel-body padding0px">

                <div class="breadcrumbs" style="margin:5px">
                    <el-row>
                        <el-col v-bind:span="17">
                            <el-input id="txt_HPOStr" type="text"
                                      placeholder="HP:0001345,HP:0001545,HP:0002043,HP:0000707,HP:0003268,HP:0000787,HP:0003828,HP:0003131"
                                      v-model="HPOStr">
                            </el-input>
                        </el-col>
                        <el-col v-bind:span="5">

                            <template>
                                <span style="color: black; margin-left: 20px;">匹配知识库选择：</span>
                                <el-select v-model="dataBaseEngine" placeholder="匹配知识库选择" style="width:150px">
                                    <el-option v-for="item in dataBaseEngineOptions"
                                               :key="item.value"
                                               :label="item.label"
                                               :value="item.value">
                                    </el-option>
                                </el-select>
                            </template>


                        </el-col>
                        <el-col v-bind:span="2">
                            <span style="float:left">
                                <el-button type="primary" v-on:click="onGetDiseaseCaculateResult">计算</el-button>
                            </span>
                        </el-col>
                    </el-row>
                </div>


            </div>
        </div>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">罕见病-HPO详细分布图</div>
            <div class="panel-body">
                <div id="disease_hpo_distribution" style="width: 100%;height:400px;">

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">罕见病-HPO 概览图</div>
            <div class="panel-body">
                <div id="disease_hpo_bar" style="width: 100%;height:400px;">

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">罕见病相似度排序</div>
            <div class="panel-body padding0px">
                <el-table v-bind:data="overviewList"
                          style="width: 100%">
                    <el-table-column prop="rank"
                                     label="排序" min-width="10%">
                    </el-table-column>
                    <el-table-column prop="disease"
                                     label="疾病" min-width="50%">
                    </el-table-column>
                    <el-table-column prop="supportMethod"
                                     label="算法" min-width="20%">
                    </el-table-column>
                    <el-table-column prop="score"
                                     label="分数" min-width="10%">
                    </el-table-column>
                </el-table>
            </div>
        </div>

        <div>
            <el-row>
                <el-col v-bind:span="12">
                    <div class="panel panel-default" style="margin-right:5px">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Jaccard 算法</div>
                        <div class="panel-body padding0px">
                            <el-table v-bind:data="diseaseList.filter(item => item.source === 'Jaccard')"
                                      style="width: 100%">
                                <el-table-column prop="disease"
                                                 label="疾病" min-width="80%">
                                </el-table-column>
                                <el-table-column prop="score"
                                                 label="分数" min-width="20%">
                                </el-table-column>
                            </el-table>
                        </div>
                    </div>
                </el-col>
                <el-col v-bind:span="12">
                    <div class="panel panel-default" style="margin-left:5px">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Tanimoto 算法</div>
                        <div class="panel-body padding0px">
                            <el-table v-bind:data="diseaseList.filter(item => item.source === 'Tanimoto')"
                                      style="width: 100%">
                                <el-table-column prop="disease"
                                                 label="疾病" min-width="80%">
                                </el-table-column>
                                <el-table-column prop="score"
                                                 label="分数" min-width="20%">
                                </el-table-column>
                            </el-table>
                        </div>
                    </div>
                </el-col>
            </el-row>
        </div>
        <div>
            <el-row>
                <el-col v-bind:span="12">
                    <div class="panel panel-default" style="margin-right:5px">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Overlap 算法</div>
                        <div class="panel-body padding0px">
                            <el-table v-bind:data="diseaseList.filter(item => item.source === 'Overlap')"
                                      style="width: 100%">
                                <el-table-column prop="disease"
                                                 label="疾病" min-width="80%">
                                </el-table-column>
                                <el-table-column prop="score"
                                                 label="分数" min-width="20%">
                                </el-table-column>
                            </el-table>
                        </div>
                    </div>
                </el-col>
                <el-col v-bind:span="12">
                    <div class="panel panel-default" style="margin-left:5px">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Oss 算法</div>
                        <div class="panel-body padding0px">
                            <el-table v-bind:data="diseaseList.filter(item => item.source === 'Oss')"
                                      style="width: 100%">
                                <el-table-column prop="disease"
                                                 label="疾病" min-width="80%">
                                </el-table-column>
                                <el-table-column prop="score"
                                                 label="分数" min-width="20%">
                                </el-table-column>
                            </el-table>
                        </div>
                    </div>
                </el-col>
            </el-row>
        </div>


    </div>
</template>



<!--罕见病summary模块-->
<template id="v-disease-summary">
    <div class="paddinglr5px">

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">选择疾病</div>
            <div class="panel-body padding0px">

                <div class="breadcrumbs" style="margin:5px">
                    <el-row>
                        <el-col v-bind:span="8">

                            <template>
                                <span style="color: black; margin-left: 20px;">罕见病选择：</span>
                                <el-select v-model="diseaseText" placeholder="罕见病选择" style="width:300px">
                                    <el-option v-for="item in diseaseOptions"
                                               :key="item.value"
                                               :label="item.label"
                                               :value="item.value">
                                    </el-option>
                                </el-select>
                            </template>


                        </el-col>
                        <el-col v-bind:span="8">
                            <el-input id="txt_HPOHide" type="text"
                                      placeholder="不显示HPO: 例如HP:0001345"
                                      v-model="HideHpoStr" style="width:90%">
                            </el-input> 
                        </el-col>
                        <el-col v-bind:span="4">
                            <el-input id="txt_HPOMinCount" type="text"
                                      placeholder="最小命中次数: 1"
                                      v-model="HPOMinLimit" style="width:90%">
                            </el-input>
                        </el-col>
                        <el-col v-bind:span="2">
                            <span style="float:left">
                                <el-button type="primary" v-on:click="onDiseaseSummaryResult">计算</el-button>
                            </span>
                        </el-col>
                    </el-row>
                </div>


            </div>
        </div>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">{{diseaseText}}  --- 总共发现 {{casesCount}} 病例 </div>
            <div class="panel-body">

                <div class="breadcrumbs">
                    <el-row>
                            <el-col v-bind:span="6">
                                <template>
                                    <span style="color: black; margin-left: 20px;">显示维度：</span>
                                    <el-select v-model="displayText" placeholder="HPO ID">
                                        <el-option v-for="item in displayOptions"
                                                   :key="item.value"
                                                   :label="item.label"
                                                   :value="item.value">
                                        </el-option>
                                    </el-select>
                                </template>


                            </el-col>
                            <el-col v-bind:span="18">
                                <span style="float:left">
                                    <el-button type="primary" v-on:click="onSwtichSummaryResult">切换</el-button>
                                </span>
                            </el-col>
                    </el-row>
                </div>

                <div id="disease_hpo_bar" style="width: 100%;height:400px;">

                </div>
            </div>
        </div>

    </div>
</template>
