@using RareDisease.Data.Handler;
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>罕见病决策系统</title>
    <link rel="shortcut icon" href="~/images/favicon.ico" />
    <link rel="stylesheet" href="~/lib/element-ui/theme-chalk/index.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/index.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/cabin.css" rel="stylesheet" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/echarts/echarts.min.js"></script>
    <script src="~/lib/echarts/echarts-wordcloud.min.js"></script>
    <script type="text/javascript" src="~/lib/vue/vue.js"></script>
    <script type="text/javascript" src="~/lib/element-ui/index.js"></script>
    <script src="~/js/china.js"></script>

</head>
<body style=" overflow-y: hidden;">
    <div id="mainArea" class="mainArea">
        <div class="sys-header">
            <span>
                @{
                    if (LogoHandler.IsHuaxi)
                    {
                        <img src="~/images/logo1.png" height="30" class="logo" />

                    }
                    else
                    {
                        <img src="~/images/clbrlogo.png" height="20" class="logo" />
                    }
                }
            </span>

            <span class="system-text">
                罕见病临床决策CDSS
            </span>
            <span class="admin-menu">
                <v-user-menu ref="userMenu"
                             :login-user="loginUser">
                </v-user-menu>
            </span>
            <span class="menu" style="float:right;">
                <el-menu v-bind:default-active="menuActiveIndex" mode="horizontal"
                         active-text-color="#fff">
                    <a href="/Home/Index"> <el-menu-item index="0" class="menu-item">罕见病决策系统</el-menu-item></a>
                    <a href="/Home/DiseaseCaculate"> <el-menu-item index="1" class="menu-item">罕见病相似度计算</el-menu-item></a>
                    <a href="http://10.239.3.13:8084" target="_blank"><el-menu-item index="2" class="menu-item">HPO术语维护</el-menu-item></a>
                    <a href="/RareDisease/Search"><el-menu-item index="3" class="menu-item">罕见病详情查询</el-menu-item></a>
                    <a href="/RareDisease/Summary"><el-menu-item index="6" class="menu-item">罕见病对应表型概览</el-menu-item></a>
                    <a href="/Cabin/Index"><el-menu-item index="4" class="menu-item" target="_blank">驾驶舱</el-menu-item></a>
                    <a href="/Log/Index"><el-menu-item index="5" class="menu-item">操作日志</el-menu-item></a>
                </el-menu>
            </span>
        </div>
        <div class="container-fluid">
            <div id="app" v-cloak style="overflow-y: hidden;max-height: 100vh;">
                <div class="header">
                    <el-row>
                        <el-col v-bind:span="4">
                            <div style="height: 1px"></div>
                        </el-col>
                        <el-col v-bind:span="16">
                            <div class="system-title">
                                <div class="text">
                                    华西医院罕见病科研驾驶舱
                                </div>
                            </div>
                        </el-col>
                        <el-col v-bind:span="4">
                            <div class="time">
                                <span id="currenttime" class="time">
                                </span>
                            </div>
                        </el-col>
                    </el-row>
                </div>
                <div class="content">
                    <el-row :gutter="10">
                        <el-col :span="8">
                            <div class="ci-tie" style=" height:100px">
                                <el-row>
                                    <el-col :span="8" class="xu-xian" v-for="(item,index) in cixiData">
                                        <div class="number">
                                            {{item.iresult}}
                                        </div>
                                        <div class="text">
                                            {{item.ititle}}
                                        </div>
                                    </el-col>
                                </el-row>
                            </div>
                            <el-row class="row-margin">
                                <el-col :span="24">
                                    <div class="boxall first-box">
                                        <div class="alltitle">病种分布</div>
                                        <div id="age_line_chart" class="age-timeline-chart-height overflow-hidden" style="width:100%;overflow:hidden">

                                        </div>
                                        <el-row class="row-margin" :gutter="10">
                                            <el-col :span="12">
                                                <div id="age_pie_chart" class="age-line-chart-height overflow-hidden">

                                                </div>
                                            </el-col>
                                            <el-col :span="12" style=" position:relative;">
                                                <div id="sex_pie_chart" class="age-line-chart-height overflow-hidden">

                                                </div>
                                            </el-col>
                                        </el-row>
                                        <div class="boxfoot"></div>
                                    </div>
                                </el-col>
                            </el-row>
                        </el-col>
                        <el-col :span="8">
                            <div class="boxall project-box">
                                <div class="alltitle">患者地域分布</div>
                                <div class="map-info" id="china_map_chart">

                                </div>
                                <div class="boxfoot"></div>
                            </div>
                        </el-col>

                        <el-col :span="8">
                            <div class="boxall project-box">

                                <div id="disease_number_rank" class="project-box" style="padding-right:10px"></div>

                                <div class="boxfoot"></div>
                            </div>
                        </el-col>

                    </el-row>
                </div>
            </div>

            <div class="back"></div>


        </div>
    </div>
    <div class="login-footer">
        @{
            if (LogoHandler.IsHuaxi)
            {
                <div class="right"> Copyright© @DateTime.Now.Year  All Rights Reserved </div>

            }
            else
            {
                <img src="~/images/login-bg-footer-logo.png">
                <div class="right">上海柯林布瑞信息技术有限公司 Copyright© @DateTime.Now.Year clinbrain All Rights Reserved </div>
            }
        }
    </div>

    <div id="component-template">
    </div>


    <script src="~/js/components.js" asp-append-version="true"></script>
    <script src="~/js/cabin.js" asp-append-version="true"></script>

    <script>
        $(window).on('load', function () {
            $(".loading").fadeOut()
        });

        $(document).ready(function () {
            var whei = $(window).width();
            $("html").css({ fontSize: whei / 20 })
            $(window).resize(function () {
                var whei = $(window).width()
                $("html").css({ fontSize: whei / 20 })
            });
        });
    </script>

    <script>
        var loginUser = {};
        if (sessionStorage.getItem("currentUser") == null) {
            $.ajax({
                url: "/Login/GetUserName",
                type: "GET",
                dataType: 'json',
                async: false,
                success: function (data) {
                    if (data && data.success) {
                        sessionStorage.setItem("currentUser", data.data)
                    }
                    else {
                        console.log(data.msg);
                    }
                }
            });
        }
        loginUser.name = sessionStorage.getItem("currentUser")

        var menuActiveIndex = 0;
        // 回退按钮导致菜单选中失效
        var navList = [
            { index: "0", path: "Home/Index", name: "罕见病决策系统" },
            { index: "1", path: "Home/DiseaseCaculate", name: "罕见病相似度计算" },
            { index: "2", path: "http://10.239.3.13:8084", name: "HPO术语维护" },
            { index: "3", path: "RareDisease/Search", name: "罕见病详情查询" },
            { index: "4", path: "/Cabin/Index", name: "驾驶舱" },
            { index: "5", path: "Log/Index", name: "日志管理" },
            { index: "6", path: "RareDisease/Summary", name: "罕见病对应表型概览" }
        ];

        url = window.location.href;
        for (var i = 0; i < navList.length; i++) {
            if (url.indexOf(navList[i].path) > 0) {
                menuActiveIndex = navList[i].index;
            }
        }
    </script>

</body>
</html>
