/**basic color and basic font and size */
/*the page background color **/
/*btn*/
/*#endregion */
/*#region base color of  bg-red, bg-blue, bg-green, bg-organge */
.bg-red {
  background: #ff6666;
}
.bg-blue {
  background: #0278e4;
}
.bg-green {
  background: #00b37a;
}
.bg-organge {
  background: #ff9900;
}
/*#endregion */
/*#region body */
body {
  overflow-y: hidden;
  background: #2d2d2d;
  font-family: 'Microsoft YaHei';
  font-size: 12px;
  color: #fff;
}
/*#endregion */
/*#region main area */
.mainArea {
  height: calc(70vh);
  overflow: auto;
}
.mainArea .container-fluid {
  padding-right: 20px !important;
  padding-left: 20px !important;
}
/*#endregion */
/*#region sys-header */
.system-text {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  padding-left: 20px;
  display: inline-block;
  overflow: hidden;
}
.sys-header {
  height: 52px;
  line-height: 52px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.28);
  font-size: 14px;
  color: #fff;
  /*background: -webkit-gradient(linear, 0 0, 0 100%, from(@header-bg-left), to( @header-bg-right));*/
  background: linear-gradient(to top, #3d3d3d, #4b4b4b);
  /* 标准的语法 */
}
.sys-header .logo {
  padding-left: 10px;
  vertical-align: top;
  display: inline-block;
}
.sys-header .el-menu {
  background: none !important;
}
.sys-header .menu {
  display: inline-block;
}
.sys-header .menu .el-menu-item {
  text-align: center;
}
.sys-header .menu .el-menu-item:not(.is-active):hover {
  background: none;
  color: #0278e4 !important;
}
.sys-header .menu .is-active {
  background: #0278e4 !important;
  border-bottom: none !important;
}
.sys-header .admin-menu {
  float: right;
  color: #fff !important;
  text-align: right;
  padding-right: 10px;
  vertical-align: middle;
  margin-left: 20px;
}
.sys-header .admin-menu el-dropdown-link,
.sys-header .admin-menu .admin-menu-font {
  color: #fff;
}
.sys-header .admin-menu .el-dropdown {
  color: #fff !important;
}
/*#endregion */
/*#region footer */
footer {
  clear: both;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30px;
  line-height: 30px;
  width: 100%;
}
.sys-footer {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.28);
  font-size: 14px;
  color: #fff;
  /*background: -webkit-gradient(linear, 0 0, 0 100%, from(@footer-bg-left), to( @footer-bg-right));*/
  background: linear-gradient(to top, #3d3d3d, #4b4b4b);
  height: 30px;
  line-height: 30px;
}
.sys-footer .copyright {
  float: right;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.65);
  padding-right: 10px;
}
.footer-logo {
  background: url(../images/black-logo.png) no-repeat center top;
  height: 26px;
  display: inline-block;
  background-position: left center;
  background-size: contain;
  width: 250px;
  margin-left: 10px;
  margin-top: 2px;
}
/*#endregion */
/*#region scroll */
::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 6px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 6px;
}
::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #747474;
}
::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background: #2d2d2d;
}
/*#endregion */
/*#region dialog */
/*.el-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 !important;
    transform: translate(-50%, -50%);
    max-height: calc(100% - 30px);
    max-width: calc(100% - 30px);
    display: flex;
    flex-direction: column;

        > .el-dialog__body {
        overflow: auto;
        color: #666666;
    }
}*/
.small-dialog {
  width: 400px;
}
.el-dialog__headerbtn {
  top: 0;
  right: 10px;
  font-size: rgba(255, 255, 255, 0.8);
}
.el-dialog__headerbtn:focus .el-dialog__close,
.el-dialog__headerbtn:hover .el-dialog__close {
  color: rgba(255, 255, 255, 0.8);
}
.el-dialog {
  background: #2d2d2d;
  border: 1px solid #565656;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.28);
}
.el-dialog .el-dialog__close {
  /*border-radius: 50%;
        background: @color-red;*/
  color: rgba(255, 255, 255, 0.8);
  /*padding: 1px;*/
}
.el-dialog .el-dialog__header {
  height: 34px;
  line-height: 34px;
  color: rgba(255, 255, 255, 0.8);
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  /*background: -webkit-gradient(linear, 0 0, 0 100%, from(@header-bg-left), to( @header-bg-right));*/
  background: linear-gradient(to top, #3d3d3d, #4b4b4b);
  /* 标准的语法 */
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  text-align: left;
}
.el-dialog .el-dialog__title {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}
.el-dialog .el-dialog__body {
  padding: 10px;
  color: #fff;
  font-size: 12px;
  text-align: left;
}
.el-dialog .el-dialog__footer {
  padding: 10px;
  padding-top: 0px;
}
.el-dialog .el-pagination.is-background .btn-next,
.el-dialog .el-pagination.is-background .btn-prev,
.el-dialog .el-pagination.is-background .el-pager li {
  background-color: rgba(255, 255, 255, 0.25);
}
/*#endregion */
/*#region el-pagination */
.el-pagination {
  font-size: 12px;
  padding-top: 20px;
  padding-right: 0;
}
.el-pagination button {
  height: 28px;
  line-height: 28px;
  padding: 0;
  font-size: 12px;
  color: #fff;
  margin: 0 5px;
  min-height: 28px;
  min-width: 28px;
}
.el-pagination .btn-next {
  margin-right: 0;
  padding-left: 0;
  color: #fff;
}
.el-pagination .btn-prev {
  padding-right: 0;
  color: #fff;
}
.el-pagination button:disabled,
.el-pagination .btn-next,
.el-pagination .btn-prev {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 3px;
}
.el-pagination.is-background .btn-next {
  margin-right: 0;
}
.el-pagination button,
.el-pagination span:not([class*=suffix]) {
  height: 28px;
  width: 28px;
}
.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  min-width: 28px;
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
  font-weight: normal;
  font-size: 12px;
  margin: 0 5px;
}
.el-pagination.is-background .el-pager li:not(.disabled):hover {
  color: #fff;
  font-weight: normal;
  font-size: 12px;
}
.el-pager li {
  min-width: 28px;
  height: 28px;
  line-height: 28px;
  padding: 0;
  border-radius: 3px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
}
.el-pager li .number {
  color: #fff;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #0a84ff;
  color: #fff;
}
.pagination.is-background {
  background-color: rgba(255, 255, 255, 0.25);
}
.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  border-radius: 3px;
}
/*#endregion */
/*#region el-dropdown-menu */
.el-dropdown-menu {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: #383838;
  color: #fff;
}
.el-dropdown-menu .popper__arrow {
  display: none;
}
.el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover {
  background: #4b4b4b;
  color: #fff;
}
.el-dropdown-menu__item {
  font-size: 12px;
  color: #fff;
  line-height: 34px;
  height: 34px;
}
/*#endregion */
/*#region el-checkbox */
.el-checkbox-group {
  font-size: 12px;
}
.el-checkbox__inner {
  height: 16px;
  width: 16px;
}
.el-checkbox {
  font-size: 12px;
}
.el-checkbox__label {
  color: #fff;
  font-size: 12px;
}
.el-checkbox__input.is-checked + .el-checkbox__label {
  color: #fff;
}
.el-checkbox__inner::after {
  height: 9px;
  left: 5px;
}
/*#endregion */
/*#region el-form */
.el-form-item__content {
  line-height: 34px;
  font-size: 12px;
}
.el-form-item {
  margin-bottom: 10px;
}
.el-form-item label {
  line-height: 34px;
}
.el-form-item:last-child {
  margin-bottom: 0px;
}
.el-form-item__label {
  color: #fff !important;
  font-size: 12px;
  text-align: right;
  font-weight: normal;
  line-height: 34px;
  padding: 0 10px 0 0;
}
label {
  margin-bottom: 0px;
}
/*#endregion */
/*#region button */
.el-dialog__footer button + button {
  margin-left: 7px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}
.el-button {
  color: #fff;
  font-size: 12px;
  height: 34px;
  line-height: 34px;
  border-radius: 3px;
  text-align: center;
  padding: 0 12px;
  background: #0278e4;
  border: none;
  vertical-align: middle;
}
.el-button:link,
.el-button:visited,
.el-button:active,
.el-button:hover,
.el-button::before,
.el-button::after,
.el-button:focus,
.el-button:active:focus {
  color: #fff;
  background: #0278e4;
}
.el-button:hover {
  background: rgba(2, 120, 228, 0.8);
}
.el-button.is-disabled,
.el-button.is-disabled:focus,
.el-button.is-disabled:hover {
  background-color: rgba(255, 255, 255, 0.25) !important;
}
.close-button {
  background: #646464 !important;
}
.close-button:link,
.close-button:visited,
.close-button:active,
.close-button:hover,
.close-button::before,
.close-button::after,
.close-button:focus,
.close-button:active:focus {
  color: #fff;
  background: #646464 !important;
}
.close-button:hover {
  background: rgba(100, 100, 100, 0.8) !important;
}
.delete-button {
  background: #ff6666 !important;
}
.delete-button:link,
.delete-button:visited,
.delete-button:active,
.delete-button:hover,
.delete-button::before,
.delete-button::after,
.delete-button:focus,
.delete-button:active:focus {
  color: #fff !important;
  background: #ff6666 !important;
}
.delete-button:hover {
  background: rgba(255, 102, 102, 0.8) !important;
}
.btn-link {
  background: none !important;
  background-color: none !important;
}
/*#endregion */
/*#region select */
.el-popper[x-placement^=bottom] {
  margin-top: 0;
}
.el-select .el-input__suffix-inner {
  height: 34px;
}
.el-select .el-input__suffix-inner .el-input__icon {
  line-height: 34px;
}
.el-select-dropdown {
  background-color: #383838;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid #565656;
  border-radius: 3px;
  box-shadow: none;
}
.el-select-dropdown .el-select-dropdown__item {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 34px;
}
.el-select-dropdown .popper__arrow {
  display: none;
}
.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
  background-color: #4b4b4b;
  color: rgba(255, 255, 255, 0.8);
}
.el-select-dropdown__item {
  height: 34px;
}
.el-select-dropdown__item span {
  line-height: 28px !important;
}
/*#endregion */
/*#region el-table */
.el-table {
  background: #383838;
  background-color: #383838;
  color: #fff;
  font-size: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.28);
  border: none;
}
.el-table .el-button {
  height: 20px;
  line-height: 20px;
  color: #fff;
  padding: 0 8px;
}
.el-table .el-tag {
  /*vertical-align: bottom;*/
  margin-right: 10px;
  height: 20px !important;
  line-height: 20px !important;
}
.el-table .cell {
  line-height: 30px;
}
.table-select .el-input__inner {
  height: 24px !important;
  line-height: 24px !important;
}
.el-table::before {
  height: 0;
}
.el-table__body {
  border-collapse: collapse;
}
.el-table--border::after,
.el-table--group::after {
  width: 0;
}
.el-table th.is-leaf {
  border-bottom: 1px solid #6c6c6c;
}
.el-table__fixed-right::before,
.el-table__fixed::before {
  height: 0;
}
.el-table thead.is-group th {
  background: #4b4b4b;
  border-right: 1px solid rgba(120, 120, 120, 0.8);
  border-bottom: 1px solid rgba(120, 120, 120, 0.8);
}
.el-table thead.is-group th:last-child {
  border: none;
}
el-table__fixed-body-wrapper tr,
.el-table tr {
  background: #383838;
  background-color: #383838;
  line-height: 30px;
  border-bottom: 1px dashed #4e4e4e;
}
el-table__fixed-body-wrapper tr:last-child,
.el-table tr:last-child {
  border-bottom: none;
}
el-table__fixed-body-wrapper tr:hover,
.el-table tr:hover {
  background: #606060;
  background-color: #606060;
}
.el-table td,
.el-table th {
  padding: 0px;
  border: none;
  line-height: 30px;
}
.el-table th {
  background: #4b4b4b;
  border: none;
  font-size: 14px;
  color: #fff;
  font-weight: normal;
  line-height: 34px;
}
.el-table th .cell {
  line-height: 34px;
  line-height: 28px;
  margin-bottom: 2px;
  white-space: nowrap;
}
.el-table th .cell button {
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}
.el-table .is-group th {
  line-height: 30px;
}
.el-table .is-group th .cell {
  line-height: 30px;
}
.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #606060;
}
.el-table--striped .el-table__body tr.el-table__row--striped td {
  background: #383838;
}
.el-table--striped .el-table__body tr.el-table__row--striped td:hover {
  background: #606060;
}
.hover-row {
  background: #606060;
  background-color: #606060;
}
.el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #606060;
}
.el-table__fixed-body-wrapper .el-table--striped .el-table__body tr.el-table__row--striped td {
  background: none;
}
.el-table__fixed-body-wrapper .el-table--striped .el-table__body tr.el-table__row--striped td:hover {
  background: #606060 !important;
}
.el-table__expanded-cell {
  background: #383838;
  padding: 0;
}
.el-table__expanded-cell[class*=cell] {
  padding: 0;
}
.el-table__body tr.hover-row > td {
  background-color: #606060;
  background: #606060;
}
.el-table__expand-icon {
  color: #fff;
}
.el-table__body tr.hover-row.current-row > td,
.el-table__body tr.hover-row.el-table__row--striped.current-row > td,
.el-table__body tr.hover-row.el-table__row--striped > td,
.el-table__body tr.hover-row > td {
  background: #606060 !important;
}
.el-table__body tr.current-row > td {
  background-color: transparent !important;
}
.sub-table .el-table {
  background: #383838;
  background-color: #383838;
  box-shadow: none;
  border: none;
}
.sub-table .el-table--striped .el-table__body tr.el-table__row--striped td {
  background: #383838;
}
.sub-table .el-table tr {
  background: #383838;
  background-color: #383838;
}
.sub-table .el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #606060;
}
/*#endregion */
/*#region confirm dialog */
.el-message-box {
  background: #2d2d2d;
  color: #fff;
  font-size: 12px;
  border: none;
}
.el-message-box .el-message-box__header {
  /*background: -webkit-gradient(linear, 0 0, 0 100%, from(@header-bg-left), to( @header-bg-right));*/
  background: linear-gradient(to top, #3d3d3d, #4b4b4b);
  /* 标准的语法 */
}
.el-message-box .el-message-box__headerbtn {
  top: 6px;
}
.el-message-box .el-message-box__title {
  color: #fff;
  font-size: 12px;
}
.el-message-box .el-message-box__btns .el-button:first-child {
  background: #646464;
  float: right;
  margin-left: 10px;
}
.el-message-box .el-message-box__content {
  margin-bottom: 30px;
}
.el-message-box .el-message-box__message {
  color: #fff;
  font-size: 12px;
}
/*#endregion */
/*#region input */
.el-input.is-disabled .el-input__inner {
  font-size: 12px;
  color: #fff;
  background: #484848;
  border: none;
}
.el-input__inner {
  height: 34px;
  line-height: 34px;
  font-size: 12px;
  color: #fff;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  background: #484848;
  border: none;
}
.el-textarea__inner {
  line-height: 34px;
  font-size: 12px;
  color: #fff;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  background: #484848;
  border: none;
}
.el-input.is-disabled .el-input__inner {
  background: #333333;
  color: rgba(255, 255, 255, 0.3);
}
.el-input__icon {
  line-height: 34px;
}
/*#endregion */
/*#region el-tag */
.el-tag {
  color: #fff;
}
.el-tag {
  /*vertical-align: bottom;*/
  margin-right: 10px;
  height: 34px !important;
  line-height: 34px !important;
}
.el-tag + .el-tag {
  margin-right: 10px;
}
.button-new-tag {
  height: 34px;
  line-height: 34px;
  margin-right: 10px;
}
.input-new-tag {
  width: 90px;
  vertical-align: bottom;
  margin-right: 10px;
  height: 34px !important;
  line-height: 34px !important;
  padding: 0;
  margin: 0;
}
.input-new-tag .el-input--small .el-input__inner {
  height: 34px !important;
  line-height: 34px !important;
}
/*#endregion */
/*#region el-picker */
.el-input--small .el-input__inner {
  /*height: @line-height;
    line-height: @line-height;*/
  height: 34px;
  line-height: 34px;
}
.el-picker-panel {
  background: #2d2d2d;
  color: #fff;
  border: 1px solid #2d2d2d;
}
.el-picker-panel .popper__arrow {
  display: none;
}
.el-picker-panel__icon-btn {
  color: #fff;
}
/*#endregion */
/*#region el-upload */
.el-upload__input {
  display: none !important;
}
el-upload input[type="file"] {
  display: none;
}
/*#endregion */
/*#region the control inside dialog */
.el-form-item__content .el-input__inner,
.table-body .el-input__inner,
.el-dialog__body .el-input__inner {
  color: #fff;
  background: #484848;
  background-color: #484848;
  border: none;
}
.el-form-item__content .el-input.is-disabled .el-input__inner,
.table-body .el-input.is-disabled .el-input__inner,
.el-dialog__body .el-input.is-disabled .el-input__inner {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
  background: #333333;
  border: none;
}
/*#endregion */
/*#region basic css */
.pointer {
  cursor: pointer;
}
.float-right {
  float: right;
  display: inline-block;
}
[v-cloak] {
  display: none;
}
.inline-block {
  display: inline-block !important;
}
.inline-table {
  display: inline-table !important;
}
.clearfix {
  *zoom: 1;
  clear: both;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
}
.recycle {
  color: #ff6666 !important;
}
.edit {
  color: #0278e4 !important;
}
.table-cell {
  display: table-cell;
}
.input-group {
  width: 100%;
}
/*#endregion */
/*#region el-upload */
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: transparent;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 146px;
  height: 120px;
  line-height: 120px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
.el-upload__tip {
  color: #fff;
}
/*#endregion */
.page-color {
  color: #fff;
}
.text-underline {
  text-decoration: underline;
}
.text-right {
  text-align: right;
}
a:hover,
a:focus {
  color: #fff;
  text-decoration: underline;
}
.bgactive {
  background: grey !important;
}
.el-date-editor .el-range__icon {
  line-height: 24px;
}
.el-date-editor .el-range-separator {
  line-height: 24px;
  color: #fff;
  font-size: 12px;
}
.el-range-input {
  background-color: #484848;
}
.span-number-color {
  color: #FF9900;
}
/*the page background color **/
/**basic color and basic font and size */
/*#region body */
body {
  overflow-y: hidden;
  background: #2d2d2d;
  font-size: 12px;
}
.mainArea {
  overflow-y: hidden;
}
/*#endregion */
/*#region header menu */
.header-menu {
  font-size: 14px;
  font: 'Microsoft YaHei';
  color: rgba(255, 255, 255, 0.65);
  height: 52px;
  margin: 0 0 0 20px;
}
.header-menu .el-menu--horizontal {
  border: none;
  background: #383838;
  color: rgba(255, 255, 255, 0.65);
}
.header-menu el-submenu__title {
  color: rgba(255, 255, 255, 0.65);
}
.header-menu .el-menu ul li {
  padding: 0 20px;
  height: 52px;
  line-height: 52px;
}
.header-menu .el-menu,
.header-menu .el-menu--horizontal > .el-menu-item:not(.is-disabled):focus,
.header-menu .el-menu--horizontal > .el-menu-item:not(.is-disabled):hover,
.header-menu .el-menu--horizontal > .el-submenu .el-submenu__title:hover {
  background: #0278e4;
  color: #fff;
}
.header-menu .el-menu--horizontal > .el-submenu .el-submenu__title {
  line-height: 52px;
  height: 52px;
}
.header-menu .el-submenu__icon-arrow {
  display: none;
}
.header-menu .el-menu-item {
  line-height: 52px;
  height: 52px;
}
.header-menu .el-menu-item span {
  padding: 0;
  margin: 0;
  vertical-align: top;
}
.header-menu .el-menu--horizontal .el-menu-item {
  color: rgba(255, 255, 255, 0.65);
}
.header-menu .el-menu--horizontal > .el-menu-item.is-active {
  border-bottom: none;
}
.header-menu .el-menu--horizontal > .el-submenu .el-submenu__title {
  color: rgba(255, 255, 255, 0.65);
}
/*#endregion */
/*#region el-menu */
.el-menu--popup {
  padding: 10px 0;
  background: #2d2d2d;
}
.el-menu {
  background: #383838;
}
.el-menu--horizontal .el-menu .el-menu-item,
.el-menu--horizontal .el-menu .el-submenu__title {
  line-height: 34px;
  height: 34px;
  color: rgba(255, 255, 255, 0.65);
  background: #383838;
}
.el-menu--horizontal {
  border: none;
  box-shadow: 5 10px rgba(0, 0, 0, 0.3);
}
.el-menu-item:hover {
  color: #0278e4;
}
.el-menu--horizontal .el-menu-item:not(.is-disabled):hover {
  color: #0278e4;
}
.el-menu--horizontal .el-menu .el-menu-item {
  padding: 0 20px;
}
.el-menu--horizontal .el-menu .el-menu-item:hover {
  background: #424242;
}
.el-menu--horizontal > .el-submenu.is-active .el-submenu__title {
  border-bottom: none !important;
}
.el-menu--popup-bottom-start {
  margin-top: 0;
}
/*#endregion */
/*#region control area*/
.design-area-height {
  height: calc(18vh);
}
.controlArea {
  background: rgba(255, 255, 255, 0.1);
  padding-left: 0;
  padding-right: 0;
  overflow: auto;
}
.controlArea .nav {
  background: #383838;
}
.controlArea .nav-tabs > li {
  border-bottom: none;
}
.controlArea .nav-tabs > li .active > a,
.controlArea .nav-tabs > li.active > a:hover,
.controlArea .nav-tabs > li.active > a:focus {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: #0087ff;
}
.controlArea .nav-tabs > li > a {
  border: none;
  border-radius: 0;
  color: #0087ff;
  font-size: 14px;
}
.controlArea .nav-tabs > li > a:hover {
  border: none;
}
.controlArea .nav-tabs > li.active > a {
  background-color: rgba(255, 255, 255, 0.1);
}
.controlArea .nav-tabs {
  border: none;
}
.controlArea .panel {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
}
.controlArea .panel-success > .panel-heading {
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.65);
  border: none;
}
.controlArea .panel-group .panel {
  border-radius: 0;
}
.controlArea .panel-title {
  font-size: 14px;
}
.controlArea .panel-group .panel-heading + .panel-collapse > .panel-body,
.controlArea .panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: none;
}
.controlArea .panel-body {
  padding: 10px;
}
.menuicon {
  margin-right: 6px;
  font-size: 20px;
  color: #5bc0de;
}
.controlModel {
  background-color: #5bc0de;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  margin: 5px;
  cursor: copy;
  padding: 5px 15px;
  color: #fff;
}
/*#endregion */
/*#region select */
.el-select .el-input__suffix-inner {
  height: 34px;
}
.el-select .el-input__suffix-inner .el-input__icon {
  line-height: 34px;
}
.el-select-dropdown {
  background-color: #383838;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid #565656;
  border-radius: 3px;
  box-shadow: none;
}
.el-select-dropdown .el-select-dropdown__item {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 34px;
}
.el-select-dropdown .popper__arrow {
  display: none;
}
.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
  background-color: #4b4b4b;
  color: rgba(255, 255, 255, 0.8);
}
.el-select-dropdown__item {
  height: 34px !important;
  line-height: 34px !important;
}
/*#endregion */
/*#region propety area */
.form-control {
  box-shadow: none;
  font-size: 12px;
  height: auto;
  line-height: 34px;
}
.form-control:focus {
  box-shadow: none;
}
.propertyArea {
  background: #424242;
  padding: 0;
  overflow: auto;
}
.propertyArea .icon-recycle {
  display: table-cell !important;
  padding: 0 5px !important;
}
.propertyArea .input-group-addon {
  font-size: 12px !important;
  color: rgba(255, 255, 255, 0.65);
  height: 34px;
  line-height: 34px;
}
.propertyArea .el-input__inner {
  font-size: 12px !important;
  padding: 0 10px !important;
  height: 34px !important;
  line-height: 34px !important;
}
.propertyArea .el-select .el-input.is-focus .el-input__inner {
  border: none;
}
.propertyArea .nav {
  background: #383838;
}
.propertyArea .nav-tabs > li .active > a,
.propertyArea .nav-tabs > li.active > a:hover,
.propertyArea .nav-tabs > li.active > a:focus {
  background-color: #424242;
  border: none;
  color: #0087ff;
}
.propertyArea .nav-tabs > li > a {
  border: none;
  border-radius: 0;
  color: #0087ff;
  font-size: 14px;
}
.propertyArea .nav-tabs > li > a:hover {
  border: none;
}
.propertyArea .nav-tabs > li:not(.active) > a {
  border: none;
  border-radius: 0;
  color: rgba(255, 255, 255, 0.65);
  font-size: 14px;
}
.propertyArea .nav-tabs > li:not(.active) > a:hover {
  border: none;
}
.propertyArea .nav > li > a:hover,
.propertyArea .nav > li > a:focus {
  background: none;
}
.propertyArea .nav-tabs > li.active > a {
  background-color: #424242;
}
.propertyArea .nav-tabs {
  border: none;
}
.propertyArea .tab-content {
  background: #424242;
}
.propertyArea .list-group-item {
  background: #424242;
  color: rgba(255, 255, 255, 0.65);
  border: none;
  padding: 5px 10px;
}
.propertyArea .list-group-item:first-child,
.propertyArea .list-group-item:last-child {
  border-radius: 0;
}
.propertyArea input,
.propertyArea select {
  background: #383838;
  border: 1px solid #4c4c4c;
  color: rgba(255, 255, 255, 0.65);
  border-radius: 3px;
}
.propertyArea input:hover,
.propertyArea select:hover,
.propertyArea input:active,
.propertyArea select:active,
.propertyArea input:active:focus,
.propertyArea select:active:focus {
  border: 1px solid #4c4c4c;
}
.propertyArea .form-control:focus {
  box-shadow: 0;
}
.propertyArea .input-group-sm > .form-control,
.propertyArea .input-group-sm > .input-group-addon,
.propertyArea .input-group-sm > .input-group-btn > .btn {
  height: 34px;
  line-height: 34px;
}
.propertyArea .input-group .form-control:last-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.propertyArea .input-group {
  margin-bottom: 1px;
  padding-bottom: 2px;
  width: 100%;
}
.propertyArea .input-group .input-group-addon {
  display: block;
  background: none;
  color: rgba(255, 255, 255, 0.65);
  padding: 0 2px;
  border: none;
  border-radius: 0;
}
/*#endregion */
/*#region button */
.btn {
  line-height: 34px;
  height: 34px;
  color: #fff;
  font-size: 12px;
  border: none;
  padding: 0 12px;
}
.btn:link,
.btn:visited,
.btn:active,
.btn:hover,
.btn::before,
.btn::after,
.btn:focus,
.btn:active:focus {
  color: #fff;
  background: #0278e4;
}
.btn:hover {
  background: rgba(2, 120, 228, 0.8);
}
.btn-default {
  background: #0278e4;
}
.btn-default:link,
.btn-default:visited,
.btn-default:active,
.btn-default:hover,
.btn-default::before,
.btn-default::after,
.btn-default:focus,
.btn-default:active:focus {
  color: #fff;
  background: #0278e4;
}
.btn-default:hover {
  background: rgba(2, 120, 228, 0.8);
}
.btn-info {
  background: #0278e4;
  border: none;
  color: #fff;
}
.btn-info:link,
.btn-info:visited,
.btn-info:active,
.btn-info:hover,
.btn-info::before,
.btn-info::after,
.btn-info:focus,
.btn-info:active:focus {
  color: #fff;
  background: #0278e4;
}
.btn-info:hover {
  background: rgba(2, 120, 228, 0.8);
}
.delete-button {
  background: #ff6666 !important;
  border: none;
  color: #fff;
}
.delete-button:link,
.delete-button:visited,
.delete-button:active,
.delete-button:hover,
.delete-button::before,
.delete-button::after,
.delete-button:focus,
.delete-button:active:focus {
  color: #fff;
  background: #ff6666;
}
.delete-button:hover {
  background: rgba(255, 102, 102, 0.8);
}
/*#endregion */
/*#region 展开与折叠按钮 */
.designArea .btn-fold,
.controlArea .btn-fold,
.propertyArea .btn-fold {
  top: 40%;
  background-color: #c0c4cc;
  color: #666;
  padding: 10px 0;
  border-radius: 0;
  border-color: transparent;
}
/*#endregion */
/*#region fast control */
.controlModelArea {
  margin: 10px;
}
/*#endregion */
/*#region design area */
.control {
  float: left;
  padding-left: 1px;
  padding-right: 1px;
  margin-bottom: 5px;
}
.control-border {
  border: 1px solid #666;
}
.form-border {
  border: 1px dashed #666;
  border-top: none;
}
.controlHeader {
  background-color: #666;
  cursor: move;
  width: 100%;
  height: 10px;
}
.designArea {
  color: #fff;
  background: #383838;
  margin: 0 auto;
  overflow: auto;
  padding: 10px !important;
}
.designArea .input-group-addon {
  border-radius: 0;
}
.containerArea {
  float: left;
}
.ui-state-highlight {
  border: 3px dotted #5bc0de;
  height: 1.5em;
  width: 1.5em;
  line-height: 1.2em;
  background: white;
  float: left;
}
.expActive {
  border: 1px solid #5bc0de;
}
.warning {
  border-color: red;
}
/*#endregion */
/*#region el-popover */
.el-popper[x-placement^=bottom] {
  margin-top: 0;
}
.popover {
  max-width: 700px;
  background: #383838;
  border-radius: 3px;
  border: none;
}
.popover .popover-content {
  padding: 10px;
}
.popover .popover-input {
  border: 1px solid #4c4c4c;
}
.popover .control {
  background: #383838;
  font-size: 12px;
}
.popover .controlHeader {
  background: #0278e4;
  font-size: 12px;
}
.popover .input-group {
  background: #383838;
  border: 1px solid #666666;
}
.popover .input-group-addon {
  border-radius: 0;
  background: #4c4c4c;
  color: #ccc;
  border: 0;
  font-size: 12px;
}
.popover .form-control {
  border-radius: 0;
  background-color: #383838;
  border: 0;
}
.popover.left > .arrow:after {
  border-left-color: #383838;
}
.popover.top > .arrow:after {
  border-top-color: #383838;
}
.popover-desc {
  padding-top: 10px;
  color: #ccc;
  font-size: 12px;
}
.popover-footer button {
  margin-right: 8px;
}
.popover-footer button:last-child {
  margin-right: 0px;
}
.popover-remove {
  color: #ccc;
}
/*#endregion */
/*#region input */
.input-default,
.el-input__inner {
  height: 34px;
  line-height: 34px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.65);
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  background: #484848;
  border: none;
}
.el-input__icon {
  line-height: 34px;
}
.designArea .input-default,
.designArea .el-input__inner {
  border-radius: 0 !important;
  background: none !important;
  background-color: none !important;
  line-height: 34px;
}
/*#endregion */
/*#region el-transfer */
.el-transfer__buttons {
  padding: 0 10px;
}
.el-transfer__buttons button,
.el-transfer__button.is-disabled,
.el-transfer__button.is-disabled:hover {
  line-height: 34px;
  height: 34px;
  color: #fff;
  font-size: 12px;
  border: none;
  padding: 0 12px;
  background: #0278e4;
  /*border-radius: 50%;*/
}
.el-transfer__buttons button span,
.el-transfer__button.is-disabled span,
.el-transfer__button.is-disabled:hover span {
  color: #fff;
  font-size: 12px;
}
.el-transfer__buttons button:link,
.el-transfer__button.is-disabled:link,
.el-transfer__button.is-disabled:hover:link,
.el-transfer__buttons button:visited,
.el-transfer__button.is-disabled:visited,
.el-transfer__button.is-disabled:hover:visited,
.el-transfer__buttons button:active,
.el-transfer__button.is-disabled:active,
.el-transfer__button.is-disabled:hover:active,
.el-transfer__buttons button:hover,
.el-transfer__button.is-disabled:hover,
.el-transfer__button.is-disabled:hover:hover,
.el-transfer__buttons button::before,
.el-transfer__button.is-disabled::before,
.el-transfer__button.is-disabled:hover::before,
.el-transfer__buttons button::after,
.el-transfer__button.is-disabled::after,
.el-transfer__button.is-disabled:hover::after,
.el-transfer__buttons button:focus,
.el-transfer__button.is-disabled:focus,
.el-transfer__button.is-disabled:hover:focus,
.el-transfer__buttons button:active:focus,
.el-transfer__button.is-disabled:active:focus,
.el-transfer__button.is-disabled:hover:active:focus {
  color: #fff;
  background: #0278e4;
}
.el-transfer__buttons button:hover,
.el-transfer__button.is-disabled:hover,
.el-transfer__button.is-disabled:hover:hover {
  background: rgba(2, 120, 228, 0.5);
}
.el-transfer-panel {
  width: calc(20%);
}
.el-transfer-panel__list {
  height: auto;
}
[class*=" el-icon-"],
[class^=el-icon-] {
  vertical-align: middle;
}
.el-transfer-panel {
  background: #2d2d2d;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  border: 1px solid rgba(255, 255, 255, 0.05);
}
.el-transfer-panel .el-transfer-panel__header {
  line-height: 34px;
  height: 34px;
  border-bottom: 1px dashed #484848;
}
.el-transfer-panel .el-transfer-panel__header .el-checkbox {
  line-height: 34px;
}
.el-transfer-panel .el-transfer-panel__header {
  background: #2d2d2d;
  color: rgba(255, 255, 255, 0.8);
}
.el-transfer-panel .el-transfer-panel__header .el-checkbox .el-checkbox__label {
  color: rgba(255, 255, 255, 0.8);
}
.el-transfer-panel .el-checkbox__inner {
  height: 12px;
  line-height: 12px;
}
.el-transfer-panel .el-checkbox__inner {
  width: 12px;
}
.el-transfer-panel .el-transfer-panel__header .el-checkbox .el-checkbox__label {
  font-size: 12px;
  color: #0278e4;
}
.el-transfer-panel .el-transfer-panel__header .el-checkbox .el-checkbox__label span {
  color: #0278e4;
}
.el-transfer-panel__body {
  overflow: auto;
  /*min-height:300px;*/
  height: calc(-80vh);
}
/*#endregion */
/*#region bootstacp modal-dialog */
.modal-dialog {
  background: #2d2d2d;
  border: 1px solid #565656;
  border-radius: 3px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.28);
}
.modal-dialog,
.modal-content {
  background: #2d2d2d;
  color: rgba(255, 255, 255, 0.8);
}
.modal-dialog .close,
.modal-content .close {
  color: #fff;
  height: 100%;
  font-weight: normal;
  opacity: 1;
}
.modal-dialog .close:hover,
.modal-content .close:hover,
.modal-dialog .close:focus,
.modal-content .close:focus {
  opacity: 1;
}
.modal-content {
  box-shadow: none;
  border: none;
}
.modal-header {
  height: 34px;
  line-height: 34px;
  color: rgba(255, 255, 255, 0.8);
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  background: linear-gradient(to right, #3d3d3d, #4b4b4b);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  border: 0;
}
.modal-body {
  background: #2d2d2d;
  color: #fff;
  padding: 10px;
}
.modal-title {
  font-size: 14px;
  line-height: 34px;
}
.modal-footer {
  border-top: none;
  padding: 0 10px 10px 10px;
}
.modal-dialog .control {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 620px;
  overflow-x: auto;
}
/*@media(max-width:1366px) {

    .modal-height {
        height: 400px;
    }

    .el-transfer-panel__body {
        height: 300px !important;
        overflow: auto;
    }
}*/
/*#endregion */
/*#region el-tab */
.el-tabs__item {
  line-height: 34px;
  height: 34px;
  color: #ccc;
  font-size: 12px;
}
.el-tabs__nav-next,
.el-tabs__nav-prev {
  line-height: 34px;
}
.el-tabs__nav-wrap::after {
  background: rgba(201, 201, 201, 0.3) !important;
}
/*#endregion */
/*#region v-table */
.v-table-class {
  width: 100% !important;
  overflow-x: auto !important;
}
.v-table-rightview {
  width: 100% !important;
}
.v-table-title-class {
  width: 100% !important;
}
/*#endregion */
/*#region business */
.tree {
  background: #282828;
  border: 1px solid #4c4c4c;
}
.tree-header {
  height: 34px;
  line-height: 34px;
  background: #3e3e3e;
  color: rgba(255, 255, 255, 0.8);
  padding: 0 10px;
  font-size: 14px;
  border-bottom: none;
}
.tree-body {
  padding: 5px 10px;
  color: #ccc;
  font-size: 12px;
  border-radius: 3px;
}
.ztree li span.button.control_ico_open,
.ztree li span.button.control_ico_close {
  margin-right: 2px;
  background: url(/WebLibs/ztree/3.5.30/css/img/diy/custom/2.png) no-repeat scroll 0 0 transparent;
  vertical-align: top;
  *vertical-align: middle;
}
.ztree li span.button.controlReadWrite_ico_docu {
  margin-right: 2px;
  background: url(/WebLibs/ztree/3.5.30/css/img/diy/readwrite.png) no-repeat scroll 0 0 transparent;
  vertical-align: top;
  *vertical-align: middle;
}
.ztree li span.button.controlWrite_ico_docu {
  margin-right: 2px;
  background: url(/WebLibs/ztree/3.5.30/css/img/diy/write.png) no-repeat scroll 0 0 transparent;
  vertical-align: top;
  *vertical-align: middle;
}
.ztree li span.button {
  background-image: url(/WebLibs/ztree/3.5.30/css/img/diy/custom/zTreeStandard.png);
}
.ztree li ul.line {
  background: none;
}
.ztree li a {
  margin: 3px;
}
.ztree li span {
  color: #ccc;
}
.ztree li a.curSelectedNode {
  color: #ccc;
  background-color: #282828;
  border: 0;
  opacity: 1;
  color: #0278e4;
}
.ztree li a.curSelectedNode .node_name {
  color: #0278e4;
}
.ztree * {
  font-family: 'Microsoft YaHei';
}
.ztree li a:hover {
  text-decoration: none;
}
.ui-state-default {
  background: #282828;
  border: none;
  border-bottom: 1px solid #4c4c4c;
}
.leftExp {
  background: #282828;
  color: #ccc;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 100%;
}
.rightExp {
  background: #282828;
  border-left: 1px solid #4c4c4c;
  border-right: 1px solid #4c4c4c;
  color: #ccc;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 100%;
}
.expActive {
  border: 1px solid #0278e4 !important;
}
.exp-panel {
  height: calc(-85vh);
  overflow: auto;
}
.exp-fun-panel {
  height: calc(-105vh);
  overflow: auto;
  border-bottom: 1px solid #4c4c4c;
  padding: 10px;
}
.exp-fun-panel .fn {
  border: 1px solid #666666;
}
.exp-fun-panel .controlHeader {
  background: #0278e4;
  font-size: 12px;
}
.exp-fun-panel .input-group {
  background: #383838;
  border: 1px solid #666666;
}
.exp-fun-panel .input-group-addon {
  border-radius: 0;
  background: #4c4c4c;
  color: #ccc;
  border: 0;
  font-size: 12px;
}
.exp-fun-panel .form-control {
  border-radius: 0;
  background-color: #383838;
  color: #ccc;
  border: 0;
}
.exp-fun-panel .exp {
  margin-bottom: 10px;
}
.exp-fun-panel .exp:last-child {
  margin-bottom: 0px;
}
.dustbin {
  height: 34px;
  line-height: 34px;
  text-align: center;
  border-bottom: 1px solid #4c4c4c;
}
/*#endregion */
/*#region controls */
.ipage .page-title {
  font-size: 24px;
  color: #ff9900;
  margin-top: 15px;
  margin-bottom: 10px;
  height: 30px;
  line-height: 30px;
}
hr {
  color: #aaa;
  border-top: 1px solid #aaa;
}
input,
button,
select,
textarea {
  font-size: 12px;
}
.vertical label {
  display: block;
}
.control .input-group {
  border: 1px solid #666;
  /*border-top: none;*/
  line-height: 34px;
}
.control .input-group-addon {
  font-size: 12px;
  background-color: #4c4c4c;
  border: none;
  color: #fff;
  line-height: 34px;
  padding: 0 12px;
  /*vertical-align: top;*/
  border-radius: 0;
}
.control .input-group-addon:first-child {
  border-right: 1px solid #666;
}
.control .input-group-addon:last-child {
  border-left: 1px solid #666;
}
.control .form-control {
  background-color: #424242;
  color: #fff;
  font-size: 12px;
  border: none;
  line-height: 34px;
  padding: 0 10px;
  /*height: auto;*/
}
.el-radio {
  color: #fff;
}
.el-radio__label {
  font-size: 12px;
}
.el-radio__inner {
  width: 12px;
  height: 12px;
}
.el-upload--picture-card {
  background-color: #424242;
}
.form-horizontal .control-label {
  padding-top: 0;
}
.el-textarea__inner {
  background: #424242;
  border: none;
  color: #fff;
  font-size: 12px;
}
/*#endregion */
/*#region edit table */
.tb-edit .el-input {
  display: none;
}
.tb-edit .current-row .el-input {
  display: block;
}
.tb-edit .current-row .el-input + span {
  display: none;
}
.edit-input {
  display: none;
}
.edit-input input {
  border: 1px solid #ccc;
  padding: 0 10px 0 0;
}
.el-input {
  font-size: 12px;
}
/*#endregion */
/*#region business */
.control-label {
  color: #fff;
  line-height: 34px;
}
#toTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background: none;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0.3) 100%);
  color: white;
  cursor: pointer;
  padding: 5px;
}
#toTop:hover {
  background-color: #555;
}
.dlg_search .cell .el-radio__label {
  display: none;
}
.print {
  display: none;
}
.print-table {
  display: none;
}
.print-table td {
  padding: 4px;
  border: 1px solid #ccc;
}
table,
th,
td {
  border-collapse: collapse;
}
.warning {
  border-color: #ff6666;
}
.view label {
  line-height: 28px;
}
hr {
  margin-bottom: 10px;
}
.icell .control {
  margin-bottom: 0;
}
.icell .control + .control {
  margin-top: 10px;
}
/*#endregion */
.test1 {
  font-size: 118px;
}
.gauge-container table {
  width: 100%;
}
/*.gauge-container .tbl-opt {
    table-layout: fixed;
}*/
.gauge-container .gauge-name-td {
  min-width: 50px;
}
.gauge-container td {
  text-align: center;
  border: 1px solid #808080;
  height: 30px;
}
.gauge-container .tbl-ctrl {
  height: 100%;
}
.gauge-container .tbl-ctrl td {
  height: 20px;
}
.gauge-container .el-checkbox + .el-checkbox {
  margin-left: 0px;
}
.gauge-container .el-radio + .el-radio {
  margin-left: 0px;
}
.gauge-container .tbl-ctrl tr:first-child > td {
  border-top: none;
}
.gauge-container .tbl-ctrl td {
  border-bottom: none;
}
.gauge-container .tbl-ctrl td:first-child {
  border-left: none;
}
.gauge-container .tbl-ctrl td:last-child {
  border-right: none;
}
