body,
html {
  overflow: auto;
  -webkit-print-color-adjust: exact;
}
.pageBreak {
  page-break-after: always;
}
.noPrint {
  display: none;
}
.print {
  display: block;
  border: 1px solid #dcdfe6;
  padding: 6px;
  white-space: pre;
  white-space: pre-wrap;
}
.print-table {
  display: block;
}
textarea {
  white-space: pre-wrap;
}
/* 应用这个样式的，从那个标签结束开始另算一页，之后在遇到再起一页，以此类推 */
.page {
  page-break-after: always;
}
.v-table-header-inner {
  width: 100% !important;
}
.el-radio__inner::after {
  content: "●";
  left: 29%;
  top: -25%;
}
.el-radio__input.is-checked + .el-radio__label {
  color: black;
  border-color: black;
}
.el-radio__input.is-checked .el-radio__inner {
  color: black;
  border-color: black;
  background: black;
}